<fieldset>
  <legend>Lender</legend>
  <form action="/online_lending/lender" method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    First Name: <input type="text" name="lender[first_name]"><br /><br />
    Last Name: <input type="text" name="lender[last_name]"><br /><br />
    Email: <input type="email" name="lender[email]"><br /><br />
    Password: <input type="password" name="lender[password]"><br /><br />
    Password Confirmation: <input type="password" name="password_conf"><br /><br />
    Money: <input type="number" name="lender[money]"><br /><br />
    <a href="/online_lending/login">Already a member?</a> </a><input type="submit" name="" value="Register">
  </form>
</fieldset>

<br />

<fieldset>
  <legend>Borrower</legend>
  <form action="/online_lending/borrower" method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    First Name: <input type="text" name="borrower[first_name]"><br /><br />
    Last Name: <input type="text" name="borrower[last_name]"><br /><br />
    Email: <input type="email" name="borrower[email]"><br /><br />
    Password: <input type="password" name="borrower[password]"><br /><br />
    Password Confirmation: <input type="password" name="password_conf"><br /><br />
    Need Money For: <input type="text" name="borrower[purpose]"><br /><br />
    Description: <textarea name="borrower[description]"></textarea><br /><br />
    Amount Needed: <input type="number" name="borrower[requested]"><br /><br />
    <a href="/online_lending/login">Already a member?</a> <input type="submit" name="" value="Register">
  </form>
</fieldset>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>
